<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeatherService" closeTimeout="00:02:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8585/Weather" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWeatherService" contract="ForecustWeatherServiceReference.IWeatherService"
                name="BasicHttpBinding_IWeatherService" />
        </client>
    </system.serviceModel>
</configuration>