<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics wmiProviderEnabled="true" />
        <bindings>
            <mexHttpBinding>
                <binding name="NewBinding0" />
            </mexHttpBinding>
        </bindings>
        <services>
            <service name="lesson13.Weather">
                <endpoint address="http://localhost:8585/Weather" binding="mexHttpBinding"
                    bindingConfiguration="NewBinding0" name="mex" bindingName="mex"
                    bindingNamespace="Lesson13.IWeather" contract="Lesson13.IWeather" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/WeatherService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>