<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8733/WeatherService/mex"
                binding="mexHttpBinding" bindingConfiguration="NewBinding1"
                contract="IMetadataExchange" name="WeatherClient" kind=""
                endpointConfiguration="">
                <identity>
                    <certificateReference storeName="My" storeLocation="LocalMachine"
                        x509FindType="FindBySubjectDistinguishedName" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <diagnostics wmiProviderEnabled="true" />
        <bindings>
            <mexHttpBinding>
                <binding name="NewBinding0" />
                <binding name="NewBinding1" />
            </mexHttpBinding>
        </bindings>
        <services>
            <service name="Lesson13.WeatherService">
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="NewBinding1"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/WeatherService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>